@charset "ISO-8859-1";

body {
	background-color: linen;
}

h1 {
	color: maroon;
	margin-left: 40px;
}

.formtable {
	padding: 10px;
	border: 1px solid blue;
}

input[type="text"] {
	width: 250px;
}

textarea {
	width: 250px;
	height: 300px;
}

.error {
	font-size: small;;
	color: red;
}

p.error {
	color: red;
}

.valid {
	font-size: small;;
	color: green;
}